<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <title>COMP308- Basic Angular</title>
    <link rel="stylesheet" href="/public/stylesheets/bootstrap/css/bootstrap.min.css">
    <link rel='stylesheet' href='/public/stylesheets/style.css'/>

</head>
<body>
<my-app>Loading...</my-app>

<script src="/public/js/app/bundle.js"></script>

</body>
</html>
