<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Logo Nav - Start Bootstrap Template</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/bootstrap-grid.min.css">

    <!-- Custom styles for this template -->
    <style>
        body {
            padding-top: 54px;
        }

        @media (min-width: 992px) {
            body {
                padding-top: 56px;
            }
        }
    </style>

</head>

<body>
    <header-component></header-component>
    <router-outlet></router-outlet> <!-- this will insert the component based on the route path -->

    <!-- Bootstrap core JavaScript -->
    <script src="/public/js/bootstrap.bundle.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>

</body>

</html>